.sugerencias {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    margin-top: 5px;
}

.sugerencia {
    padding: 10px;
    cursor: pointer;
}

.sugerencia:hover {
    background-color: #f0f0f0;
}

body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

#map {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
}

#form-parada .form-control {
    margin-bottom: 10px;
}

#lista-paradas {
    max-height: 200px;
    overflow-y: auto;
}

.table-responsive {
    overflow-x: auto;
}

.btn {
    margin-bottom: 10px;
}

/* Estilos para la información de la ruta */
#info-ruta {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.info-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.info-container p {
    margin: 5px 0;
    font-size: 14px;
}

.info-container strong {
    display: inline-block;
    width: 120px; /* Ancho fijo para las etiquetas */
}